    .menu-btn {
        background-color: #1c6377;
        color: white;
        padding: 16px;
        font-weight: bolder;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }

    .dropdown-menu {
        position: relative;
        display: inline-block;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #2ca0c0;
        min-width: 110px;
        z-index: 1;
    }

    nav {
        background-color: #1F7993;
        
    }

    .links,
    .links-hidden {
        display: inline-block;
        color: rgb(255, 255, 255);
        padding: 8px 12px;
        text-decoration: none;
        font-size: 12px;
    }

    .links-hidden {
        display: block;
    }

    .links {
        display: inline-block;
    }

    .links-hidden:hover,
    .links:hover {
        transform: scale(1.2);

    }

    .dropdown-menu:hover .menu-content {
        display: block;

    }

body{
    font-family: Verdana, sans-serif, Geneva, Tahoma,;
}